.button{
	-fx-background-color: #EEE;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);
}

.button:hover{
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0, 2);
}

.root{
	-fx-background-image: url("bg.jpg");
	-fx-background-color: transparent;
}

.list-view{
	-fx-background-image: url("bg.jpg");
}